body.red {
	--light-0: 255, 235, 238;
	--light-1: 255, 205, 210;
	--light-2: 239, 154, 154;
	--light-3: 229, 115, 115;
	--light-4: 239, 83, 80;
	--light-5: 244, 67, 54;
	--light-6: 229, 57, 53;
	--light-7: 211, 47, 47;
	--light-8: 198, 40, 40;
	--light-9: 183, 28, 28;
}
body.pink {
	--light-0: 252, 228, 236;
	--light-1: 248, 187, 208;
	--light-2: 244, 143, 177;
	--light-3: 240, 98, 146;
	--light-4: 236, 64, 122;
	--light-5: 233, 30, 99;
	--light-6: 216, 27, 96;
	--light-7: 194, 24, 91;
	--light-8: 173, 20, 87;
	--light-9: 136, 14, 79;
}
body.purple {
	--light-0: 243, 229, 245;
	--light-1: 225, 190, 231;
	--light-2: 206, 147, 216;
	--light-3: 186, 104, 200;
	--light-4: 171, 71, 188;
	--light-5: 156, 39, 176;
	--light-6: 142, 36, 170;
	--light-7: 123, 31, 162;
	--light-8: 106, 27, 154;
	--light-9: 74, 20, 140;
}
body.indeigo {
	--light-0: 232, 234, 246;
	--light-1: 197, 202, 233;
	--light-2: 159, 168, 218;
	--light-3: 92, 107, 192;
	--light-4: 121, 134, 203;
	--light-5: 63, 81, 181;
	--light-6: 57, 73, 171;
	--light-7: 48, 63, 159;
	--light-8: 40, 53, 147;
	--light-9: 26, 35, 126;
}
body.blue {
	--light-0: 227, 242, 253;
	--light-1: 187, 222, 251;
	--light-2: 144, 202, 249;
	--light-3: 100, 181, 246;
	--light-4: 66, 165, 245;
	--light-5: 33, 150, 243;
	--light-6: 30, 136, 229;
	--light-7: 25, 118, 210;
	--light-8: 21, 101, 192;
	--light-9: 13, 71, 161;
}
body.teal {
	--light-0: 224, 242, 241;
	--light-1: 178, 223, 219;
	--light-2: 128, 203, 196;
	--light-3: 77, 182, 172;
	--light-4: 38, 166, 154;
	--light-5: 0, 150, 136;
	--light-6: 0, 137, 123;
	--light-7: 0, 121, 107;
	--light-8: 0, 105, 92;
	--light-9: 0, 77, 64;
}
body.yellow {
	--light-0: 255, 248, 225;
	--light-1: 255, 236, 179;
	--light-2: 255, 224, 130;
	--light-3: 255, 213, 79;
	--light-4: 255, 202, 40;
	--light-5: 255, 193, 7;
	--light-6: 255, 179, 0;
	--light-7: 255, 160, 0;
	--light-8: 255, 143, 0;
	--light-9: 255, 111, 0;
}
body.orange {
	--light-0: 251, 233, 231;
	--light-1: 255, 204, 188;
	--light-2: 255, 171, 145;
	--light-3: 255, 138, 101;
	--light-4: 255, 112, 67;
	--light-5: 255, 87, 34;
	--light-6: 244, 81, 30;
	--light-7: 230, 74, 25;
	--light-8: 216, 67, 21;
	--light-9: 191, 54, 12;
}
body.green {
	--light-0: 232, 245, 233;
	--light-1: 200, 230, 201;
	--light-2: 165, 214, 167;
	--light-3: 129, 199, 132;
	--light-4: 102, 187, 106;
	--light-5: 76, 175, 80;
	--light-6: 67, 160, 71;
	--light-7: 56, 142, 60;
	--light-8: 46, 125, 50;
	--light-9: 27, 94, 32;
}
body.black {
	--light-0: 250,250,250;
	--light-1: 245,245,245;
	--light-2: 238,238,238;
	--light-3: 224,224,224;
	--light-4: 189,189,189;
	--light-5: 158,158,158;
	--light-6: 117,117,117;
	--light-7: 97,97,97;
	--light-8: 66,66,66;
	--light-9: 33,33,33;
}
body.cyan {
  --light-1: 92, 202, 207;
  --light-2: 69, 195, 201;
  --light-3: 46, 187, 194;
  --light-4: 23, 180, 187;
  --light-5: 0, 173, 181;
  --light-6: 0, 158, 165;
  --light-7: 0, 142, 149;
  --light-8: 0, 126, 132;
  --light-9: 0, 111, 116;
}
body:not(.dark) {
  --dark-1: 255, 255, 255;
  --dark-2: 232, 232, 232;
  --dark-3: 209, 209, 209;
  --dark-4: 186, 186, 186;
	/*
  --dark-1: 186, 186, 186;
  --dark-2: 209, 209, 209;
  --dark-3: 232, 232, 232;
  --dark-4: 255, 255, 255;
  */
  --text-color: 0, 0, 0;
  --dialog-0: var(--light-9);
  --icons: 102, 102, 102;
}
body.dark {
  --dark-1: 36, 37, 44;
  --dark-2: 53, 54, 66;
  --dark-3: 61, 61, 76;
  --dark-4: 75, 76, 88;
  --text-color: 238, 238, 238;
  --dialog-0: 238, 238, 238;
  --icons: 238, 238, 238;
}
